@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "List of Roles";
}

<div class="box">
    <div class="box-header">
        @*<h3 class="box-title">Crear Roles de Usuarios</h3>*@
        <div class="box-tools">
            @Html.ActionLink("Click to Create New Role", "Create", "Role")
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table id="tbrole" class="table table-hover">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>User Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>




