@model IEnumerable<SistemaWeb.Models.ApplicationUser>
@{
    ViewBag.Title = "List of Users";
}

<div class="box">
    <div class="box-header">
        @*<h3 class="box-title">Usuarioss</h3>*@
        @*<div class="box-tools">
                @Html.ActionLink("Click to Create New Role", "Create", "Role")
            </div>*@
    </div>
    <div class="box-body table-responsive no-padding">
        <table id="tbrole" class="table table-hover">
            <tr>
                <th>@*@Html.DisplayNameFor(model => model.UserName)*@User Name</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>Role Name</th>
                <th>User Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.userRole)
                    </td>
                    <td>
                        @Html.ActionLink("Lock User", "", new { Id = item.Id })
                        @*@Html.ActionLink("Delete", "Delete", new { Id = item.Id })*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

